body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.hidden {
    display: none;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.title-style {
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    font-weight: 700;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.title-background {
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: gray;
    border-radius: 25px;
    opacity: 0.5;
}

.item {
    background-size: 100%;
    height: 310px;
    width: 210px;
    padding-right: 10px;
    padding-bottom: 20px;
    object-fit: cover;
}

.header {
    width: 210px;
    font-size: 40px;
    color: darkgray;
    text-align: justify;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.picture-background {
    background-color: white;
    width: 200px;
    height: 300px;
    border-radius: 25px;
    position: relative;
}

.picture-background img {
    border-radius: 25px;
    border: 3px solid darkgray;
    left: 0;
    top: 0;
}

.button-add {
    position: absolute;
    display: none;
    color: black;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    transition: 0.2s;
    z-index: 3;
    left: 0;
    top: 0;
    margin-top:260px;
    width: 50px;
    height: 30px;
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
    font-size: 20px;
}

.table-style {
    height: 600px;
    width: 600px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.descr {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, .5);
    border-radius: 25px;
    color: black;
    padding-top: 20px;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    user-select: none;
}

.input-error {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: red;
    font-size: 10px;
    margin-top: 200px;
    margin-left: 10px;
    margin-right: 10px;
    user-select: none;
    display: none;
    opacity: 0;
}

.picture-background:hover .descr {
    opacity: 1;
}

.picture-background:hover .input-error {
    opacity: 1;
}

.picture-background:hover .button-add {
    display: block;
}

.picture-background:hover .button-plus {
    display: block;
}

.picture-background:hover .button-minus {
    display: block;
}

.button-add:hover {
    background: rgba(255,255,255,.7);
}

.picture-background .button-minus {
    position: absolute;
    user-select: none;
    display: none;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: black;
    text-align: center;
    color: white;
    height: 30px;
    width: 30px;
    margin-top: 225px;
    margin-left: 30px;
    font-size: 26px;
    padding-bottom: 25px;
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid black;
    line-height: 30px;
}

.button-minus:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.picture-background .button-plus {
    position: absolute;
    user-select: none;
    display: none;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: black;
    text-align: center;
    color: white;
    height: 30px;
    width: 30px;
    margin-top: 225px;
    margin-left: 140px;
    font-size: 26px;
    padding-bottom: 25px;
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid black;
    line-height: 30px;
}

.button-plus:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.picture-background input {
    position: absolute;
    display: none;    
    z-index:3;
    height: 30px;
    width: 50px;
    margin-left: 75px;
    margin-top: 225px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 20px;
    color: black;
    text-align: center;
}

.picture-background:hover input {
    display: block;
}

.picture-background input::selection {
    color: white;
    background-color: black;
}

#bag {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    border: 3px solid darkgray;
    border-radius: 25px;
    opacity: 0.5;
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
}

#bag .bag-list-item {
    color: red;
    font-size: 16px;
}

#bag #list-error {
    color: red;
    font-size: 8px;
    list-style-type: none;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
