<div class="shop-body">
    <style>
        table {
            width: 100%;
            height: 100%;
        }
        
        ul {
            background-color: white;
            height: 100%;
            width: 100%;
            border: 3px solid darkgray;
            border-radius: 25px;
            opacity:50%;
            margin-top: 2px;
            margin-bottom: 2px;
        }
    </style>
    <table>
        <tr>
            <th class="header" colspan="3">Books:</th>
            <th class="header">Bag:</th>
        </tr>
        <tr>
            <td class="item">
            <div class="picture-background">
                <img class="picture-container" src="~/images/the-last-wish.jpg" width="200" height="300" onmouseover="mouseOverPicture(this)" onmouseout="mouseOutPicture(this)">
                <div id="button-add1" class="button-add" height="30" width="20" style="display: none; user-select: none">Add</div>
                </div>
            </td>
            <td class="item"><div class="picture-background"><img class="picture-container" src="~/images/sword-of-destiny.jpg" width="200" height="300" onmouseover="mouseOverPicture(this)" onmouseout="mouseOutPicture(this)"></div></td>
            <td class="item"><div class="picture-background"><img class="picture-container" src="~/images/blood-of-elves.jpg" width="200" height="300" onmouseover="mouseOverPicture(this)" onmouseout="mouseOutPicture(this)"></div></td>
            <td class="item">
                <ul>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="item"><div class="picture-background"><img class="picture-container" src="~/images/time-of-contempt.jpg" width="200" height="300" onmouseover="mouseOverPicture(this)" onmouseout="mouseOutPicture(this)"></div></td>
            <td class="item"><div class="picture-background"><img class="picture-container" src="~/images/baptism-of-fire.jpg" width="200" height="300" onmouseover="mouseOverPicture(this)" onmouseout="mouseOutPicture(this)"></div></td>
            <td class="item"><div class="picture-background"><img class="picture-container" src="~/images/the-tower-of-swallow.jpg" width="200" height="300" onmouseover="mouseOverPicture(this)" onmouseout="mouseOutPicture(this)"></div></td>
        </tr>
        <tr>
            <td class="item"><div class="picture-background"><img class="picture-container" src="~/images/the-lady-of-the-lake.jpg" width="200" height="300" onmouseover="mouseOverPicture(this)" onmouseout="mouseOutPicture(this)"></div></td>
            <td class="item"><div class="picture-background"><img class="picture-container" src="~/images/season-of-storms.jpg" width="200" height="300" onmouseover="mouseOverPicture(this)" onmouseout="mouseOutPicture(this)"></div></td>
            <td> </td>
        </tr>
    </table>
</div>
